<!DOCTYPE html>
{% load static %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Kto gra Podhale</title>

		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'ktograapp/bs/css/flatly.min.css'%}" />
		<link rel="stylesheet" href="{% static 'ktograapp/styles.css'%}"  />
	</head>
	<body>

		<div class="container-fluid" id="wrapper">
			<h1><a href="#" style="color: white;">Kto gra Podhale</a></h1>

			<div class="row">
				<div class="col-lg-6 col-lg-offset-3" id="content">
					<div style="text-align: center; margin-bottom: 12px; font-size: 25px;"><p>Mecze podhalańskich drużyn w tym tygodniu: </p></div>
					{% if liga3 %}<table class="table table-striped">
    <thead>
      <tr>
        <th>Gospodarz</th>
		<th>Gość</th>
		<th>Data i Godzina</th>
		<th>Kolejka</th>
		<th>Liga</th>

      </tr>
    </thead>

    <tbody>
	<div style="text-align: center; margin-bottom: 12px; font-size: 30px;"><p>3 Liga - Grupa IV: </p></div>
	{% for match in liga3 %}
      <tr>

        <td>{{match.home}}</td>
		<td>{{match.away}}</td>
		<td>{{match.time}}</td>
          <td>{{match.matchday}}</td>
          {% if match.league_id == 0 %}
            <td>A Klasa</td>
          {% elif match.league_id == 1 %}
            <td> Ekstraklasa </td>
		  {% elif match.league_id == 3 %}
            <td> 3 Liga - Grupa IV </td>
          {% endif %}

      </tr>
    {% endfor %}
	</tbody>
</table>{% endif %}<br>
					{% if liga4 %}<table class="table table-striped">
    <thead>
      <tr>
        <th>Gospodarz</th>
		<th>Gość</th>
		<th>Data i Godzina</th>
		<th>Kolejka</th>
		<th>Liga</th>

      </tr>
    </thead>

    <tbody>
	<div style="text-align: center; margin-bottom: 12px; font-size: 30px;"><p>4 Liga - Małopolska: </p></div>
	{% for match in liga4 %}
      <tr>

        <td>{{match.home}}</td>
		<td>{{match.away}}</td>
		<td>{{match.time}}</td>
          <td>{{match.matchday}}</td>
          {% if match.league_id == 0 %}
            <td>A Klasa</td>
          {% elif match.league_id == 1 %}
            <td> Ekstraklasa </td>
		  {% elif match.league_id == 3 %}
            <td> 3 Liga - Grupa IV </td>
		  {% elif match.league_id == 4 %}
            <td> 4 Liga - Małopolska </td>
		  {% elif match.league_id == 5 %}
            <td> 5 Liga - Małopolska (Wschód) </td>
		  {% elif match.league_id == 6 %}
            <td> Klasa Okręgowa  </td>
          {% endif %}

      </tr>
    {% endfor %}
	</tbody>
</table>{% endif %}<br>
					{% if liga5 %}<table class="table table-striped">
    <thead>
      <tr>
        <th>Gospodarz</th>
		<th>Gość</th>
		<th>Data i Godzina</th>
		<th>Kolejka</th>
		<th>Liga</th>

      </tr>
    </thead>

    <tbody>
	<div style="text-align: center; margin-bottom: 12px; font-size: 30px;"><p>5 Liga - Małopolska (Wschód): </p></div>
	{% for match in liga5 %}
      <tr>

        <td>{{match.home}}</td>
		<td>{{match.away}}</td>
		<td>{{match.time}}</td>
          <td>{{match.matchday}}</td>
          {% if match.league_id == 0 %}
            <td>Klasa A</td>
          {% elif match.league_id == 1 %}
            <td> Ekstraklasa </td>
		  {% elif match.league_id == 3 %}
            <td> 3 Liga - Grupa IV </td>
		  {% elif match.league_id == 4 %}
            <td> 4 Liga - Małopolska </td>
		  {% elif match.league_id == 5 %}
            <td> 5 Liga - Małopolska (Wschód) </td>
		  {% elif match.league_id == 6 %}
            <td> Klasa Okręgowa</td>
          {% endif %}

      </tr>
    {% endfor %}
	</tbody>
</table>{% endif %}<br>
					{% if klasa0 %}<table class="table table-striped">
    <thead>
      <tr>
        <th>Gospodarz</th>
		<th>Gość</th>
		<th>Data i Godzina</th>
		<th>Kolejka</th>
		<th>Liga</th>

      </tr>
    </thead>

    <tbody>
	<div style="text-align: center; margin-bottom: 12px; font-size: 30px;"><p>Klasa okręgowa (Limanowa - Podhale): </p></div>
	{% for match in klasa0 %}
      <tr>

        <td>{{match.home}}</td>
		<td>{{match.away}}</td>
		<td>{{match.time}}</td>
          <td>{{match.matchday}}</td>
          {% if match.league_id == 0 %}
            <td>A Klasa</td>
          {% elif match.league_id == 1 %}
            <td> Ekstraklasa </td>
		  {% elif match.league_id == 3 %}
            <td> 3 Liga - Grupa IV </td>
		  {% elif match.league_id == 4 %}
            <td> 4 Liga - Małopolska </td>
		  {% elif match.league_id == 5 %}
            <td> 5 Liga - Małopolska (Wschód) </td>
		  {% elif match.league_id == 6 %}
            <td> Klasa Okręgowa </td>
          {% endif %}

      </tr>
    {% endfor %}
	</tbody>
</table>{% endif %}<br>
					{% if klasaa %}<table class="table table-striped" >
    <thead >
      <tr>
        <th>Gospodarz</th>
		<th>Gość</th>
		<th>Data i Godzina</th>
		<th>Kolejka</th>
		<th>Liga</th>

      </tr>
    </thead>

    <tbody>
	<div style="text-align: center; margin-bottom: 12px; font-size: 30px;"><p>Klasa A: </p></div>
	{% for match in klasaa %}
      <tr>

        <td>{{match.home}}</td>
		<td>{{match.away}}</td>
		<td>{{match.time}}</td>
          <td>{{match.matchday}}</td>
          {% if match.league_id == 0 %}
            <td>A Klasa</td>
          {% elif match.league_id == 3 %}
            <td> 3 Liga - Grupa IV </td>
          {% endif %}

      </tr>
    {% endfor %}
	</tbody>
</table>{% endif %}<br>
					</ul>
				</div>
			</div>

			<footer>
				<div class="row pad">
					<div class="col-lg-12 text-center">
						Jakub Maciasz &copy; 2022 <strong>Kto Gra App</strong>
					</div>
					<div class="col-lg-12 text-center">
						<a href="https://myportfolio970913.herokuapp.com/" style="color: darkgrey">Portfolio</a>
					</div>
					<div class="col-lg-12 text-center">
						<a href="https://github.com/jakubmac1" style="color: darkgrey">GitHub</a>
					</div>
					<div class="col-lg-12 text-center">
						<a href="https://www.linkedin.com/in/jakub-maciasz	" style="color: darkgrey">LinkedIn</a>
					</div>

				</div>
			</footer>
		</div>


	</body>
</html>